<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= task.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= task.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Commitment:</strong>
    <%= task.commitment_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hours allocated:</strong>
    <%= task.hours %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= task.completed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Archived:</strong>
    <%= task.archived %>
  </p>

</div>
